
<div class="container">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <!--Brand and toggle get grouped together, for better visibility on mobile-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>

                <!--Here you can add a website name and a logo-->
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-king"></span> Song Generator
                </a>

            </div>

            <!--content for toggling-->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" class="collapseItem">
                            <span class="glyphicon glyphicon-info-sign"></span> Index
                        </a>
                    </li>

                </ul>
            </div>
            
        </div>
    </nav>
</div>
